version: 2.1

executors:
  docker-executor:
    docker:
      - image: circleci/python:3.7

jobs:
  build-and-push:
    executor: docker-executor
    steps:
      - setup_remote_docker
      - checkout
      - run:
          name: Install Google Cloud SDK
          command: |
            sudo apt-get update
            sudo apt-get install -y curl apt-transport-https ca-certificates gnupg
            echo "deb [signed-by=/usr/share/keyrings/cloud.google.gpg] https://packages.cloud.google.com/apt cloud-sdk main" | sudo tee -a /etc/apt/sources.list.d/google-cloud-sdk.list
            curl https://packages.cloud.google.com/apt/doc/apt-key.gpg | sudo apt-key --keyring /usr/share/keyrings/cloud.google.gpg add -
            sudo apt-get update && sudo apt-get install -y google-cloud-sdk
      - run:
          name: Authenticate with GCP
          command: |
            echo "$GCLOUD_SERVICE_KEY" | base64 --decode --ignore-garbage > gcloud-service-key.json
            gcloud auth activate-service-account --key-file=gcloud-service-key.json
            gcloud --quiet config set project "${GOOGLE_PROJECT_ID}"
      - run:
          name: Build and push Docker image
          command: |
            docker build -t ${GOOGLE_ARTIFACT_REGISTRY}/python-image:${CIRCLE_SHA1} .
            gcloud auth configure-docker --quiet
            docker push ${GOOGLE_ARTIFACT_REGISTRY}/python-image:${CIRCLE_SHA1}

workflows:
  version: 2
  build-deploy:
    jobs:
      - build-and-push
