version: 2.1
jobs:
  deploy:
    docker:
      - image: circleci/python:3.7
    steps:
      - run:
      name: Install Google Cloud SDK
      command: |
        sudo apt-get update
        sudo apt-get install -y curl apt-transport-https ca-certificates gnupg
        echo "deb [signed-by=/usr/share/keyrings/cloud.google.gpg] https://packages.cloud.google.com/apt cloud-sdk main" | sudo tee -a /etc/apt/sources.list.d/google-cloud-sdk.list
        curl https://packages.cloud.google.com/apt/doc/apt-key.gpg | sudo apt-key --keyring /usr/share/keyrings/cloud.google.gpg add -
        sudo apt-get update && sudo apt-get install -y google-cloud-sdk
      - run: |
          echo $GCLOUD_SERVICE_KEY | gcloud auth activate-service-account --key-file=-
          gcloud --quiet config set project ${GOOGLE_PROJECT_ID}

workflows:
  version: 2
  deploy_workflow:
    jobs:
      - deploy
