version: 2.1

executors:
  docker-executor:
    docker:
      - image: circleci/python:3.7

jobs:
  build-and-push:
    executor: docker-executor
    steps:
      - setup_remote_docker:
          version: 20.10.7
          docker_layer_caching: true
      - checkout
      - run:
          name: Authenticate with GCP
          command: |
            echo $GCLOUD_SERVICE_KEY | base64 --decode --ignore-garbage > ${HOME}/gcloud-service-key.json
            sudo apt-get install -y google-cloud-sdk
            gcloud auth activate-service-account --key-file=${HOME}/gcloud-service-key.json
      - run:
          name: Build and push Docker image
          command: |
            gcloud components install docker-credential-gcr
            gcloud auth configure-docker
            docker build -t gcr.io/${GOOGLE_PROJECT_ID}/my-image:${CIRCLE_SHA1} .
            docker push gcr.io/${GOOGLE_PROJECT_ID}/my-image:${CIRCLE_SHA1}

workflows:
  version: 2
  build-deploy:
    jobs:
      - build-and-push
